@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
    /*
        NARANJA => #ffb142
        VERDE => #27ae60
        MORADO => #9980FA
        ROJO => #e17055
        AZUL => #6a89cc
    */
    --main-color: #ffb142;
    --link-color: #353b48;
}

::-webkit-scrollbar {
    width: 0.9rem;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
    background-color: transparent;
}
::-webkit-scrollbar-thumb {
    border-radius: 0.5rem;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: var(--main-color);
}

html,
* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    scroll-behavior: smooth;
}

html.open {
    overflow: hidden;
}

body {
    background-color: rgb(246, 246, 246);
}

a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    cursor: pointer;
    transition: color 250ms ease-in-out;
}

a:hover {
    color: var(--link-color);
}

input:focus,
button:focus {
    outline: none;
}

/*--------HEADER---------*/

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5rem;
    justify-content: space-between;
    justify-items: center;
}

.top {
    height: 2.5rem;
}

.top span {
    width: 100%;
    height: 0.8rem;
    position: absolute;
    background-color: rgb(18, 43, 35);
}

.top span:not(:first-child) {
    margin-top: 0.9rem;
    height: 0.6rem;
    background-color: var(--main-color);
}

.top ul {
    background-color: var(--main-color);
    position: absolute;
    right: 0;
    margin-top: 1.4rem;
    display: inline-flex;
    list-style: none;
    line-height: normal;
    font-weight: 600;
}

.top ul li {
    display: table;
    padding: 0.6rem 0.8rem;
}

.top ul li button,
.top ul li input {
    margin-right: 0.2rem;
    height: 1.5rem;
    border-radius: 0.2rem;
    border: 0.5px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.top ul li button {
    background-color: var(--link-color);
    color: #fff;
    padding: 0 0.5rem;
    cursor: pointer;
}

.top ul > li.active a {
    color: var(--link-color) !important;
}

.logo {
    margin-left: 6rem;
    height: 12.5rem;
    display: flex;
    justify-items: center;
    align-items: center;
}

.logo img {
    width: 9.375rem;
    height: 9.375rem;
}

.logo h3 {
    display: table;
}

header nav {
    width: 100%;
    height: 4.5rem;
    position: relative;
    text-align: center;
    background-color: var(--main-color);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 99;
    font-weight: 700;
}

.fixed {
    position: fixed;
    top: 0;
    left: 0;
}

ul.links {
    display: inline-flex;
    list-style: none;
    line-height: 4.5rem;
}

ul.links > li::after {
    content: "";
    background-color: var(--link-color);
    width: 100%;
    height: 0.25rem;
    display: flex;
    margin-top: -0.3rem;
    opacity: 0;
    transition: all 250ms ease-in-out;
}

ul.links > li:hover::after {
    opacity: 1;
}

ul.links > li.active::after {
    opacity: 1;
}

ul.links > li:not(:last-child) {
    margin-right: 4rem;
}

ul.links > li.active a {
    color: var(--link-color);
}

ul.links li ul.dropdown-menu {
    position: absolute;
    padding: 1.5rem;
    width: max-content;
    background-color: var(--link-color);
    list-style: none;
    transition: all 250ms ease-in-out;
    visibility: hidden;
    opacity: 0;
}

ul.links li.dropdown:hover ul.dropdown-menu {
    visibility: visible;
    opacity: 1;
}

ul.links li ul.dropdown-menu li {
    display: flex;
    position: relative;
    justify-content: left;
}

ul.links li ul.dropdown-menu li::after {
    content: "";
    background-color: var(--main-color);
    height: 0.25rem;
    position: absolute;
    margin-top: 4.3rem;
    width: 100%;
    opacity: 0;
    transition: all 250ms ease-in-out;
}

ul.links li ul.dropdown-menu li:hover::after {
    opacity: 1;
}

ul.links li ul.dropdown-menu li a:hover {
    color: var(--main-color);
}

header div#burger_menu {
    display: none;
    position: absolute;
    top: 1.7rem;
    right: 1rem;
    align-items: center;
    cursor: pointer;
}

header div#burger_menu span {
    display: block;
    background-color: #fff;
    width: 1.9rem;
    height: 0.25rem;
    margin-top: 0.2rem;
    border-radius: 0.125rem;
    transition: all 300ms ease-in-out;
}

header div#burger_menu.open span:first-child {
    transform: rotate(45deg);
    transform-origin: 0.3rem 0.4rem;
}

header div#burger_menu.open span:nth-child(2) {
    opacity: 0;
}

header div#burger_menu.open span:last-child {
    transform: rotate(-45deg);
    transform-origin: 0.5rem 0rem;
}

/*--------MAIN---------*/
.page {
    max-width: 87rem;
    margin: 0 auto;
}

.container {
    margin: 0 3rem;
    margin-top: 20rem;
    display: grid;
    grid-template-columns: 68% 30%;
    grid-gap: 2%;
}

.container .content-left {
    margin-top: 1rem;
    grid-column: 1;
}

.container .content-left article.big_article {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: max-content;
    border-radius: 1rem;
    background-color: #fff;
    border: 0.5px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.container .content-left article.big_article .article-category {
    position: absolute;
    top: 1rem;
    left: 1rem;
    padding: 0.5rem 1rem;
    background-color: var(--main-color);
    border-radius: 0.5rem;
    color: #fff;
}

.container .content-left article.big_article img {
    width: 100%;
    height: 35rem;
}

.container .content-left article.big_article h3 {
    padding: 1rem;
    text-align: justify;
}

.container .content-left article.big_article h3 a {
    color: var(--link-color);
    text-transform: uppercase;
    font-size: larger;
    font-weight: bolder;
    transition: all 200ms ease-in-out;
}

.container .content-left article.big_article h3 a:hover {
    color: var(--main-color);
}

.container .content-left article.big_article p {
    padding: 0.5rem 1rem;
    text-align: justify;
    font-weight: lighter;
    line-height: 1.5rem;
}

.container .content-left article.big_article p:last-of-type {
    padding-bottom: 4rem;
}

.container .content-left article.big_article table {
    width: 98%;
    position: relative;
    margin: 0 1%;
    border-collapse: collapse;
}

.container .content-left article.big_article table tr td {
    padding: 0.5rem 0;
    padding-left: 0.3rem;
    border: 0.2px solid var(--main-color);
}
.container .content-left article.big_article table tr:not(:first-child) td {
    padding-left: 0.5rem;
}

.container
    .content-left
    article.big_article
    table
    tr:not(:first-child)
    td:first-child {
    text-align: center;
}

.container .content-left article.big_article table tr td:first-child {
    width: 10%;
}
.container .content-left article.big_article table tr td:nth-child(2) {
    width: 60%;
}

.container .content-left article.big_article table tr:first-child {
    background: var(--main-color);
    color: #fff;
    font-weight: 700;
}

.container .content-left article.big_article h5.date {
    position: absolute;
    bottom: 1.5rem;
    left: 1.5rem;
    color: var(--link-color);
    opacity: 0.5;
    font-weight: 600;
}

.container .content-left .articles {
    height: max-content;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
}

.container .content-left .articles article {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: max-content;
    border-radius: 1rem;
    background-color: #fff;
    border: 0.5px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.container .content-left .articles article .article-category {
    position: absolute;
    top: 1rem;
    left: 1rem;
    padding: 0.5rem 1rem;
    background-color: var(--main-color);
    border-radius: 0.5rem;
    color: #fff;
}

.container .content-left .articles article .img {
    width: 100%;
    height: 16.5rem;
    overflow: hidden;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
}

.container .content-left .articles article h3 {
    padding: 1rem;
    text-align: justify;
}

.container .content-left .articles article h3 a {
    color: var(--link-color);
    font-weight: 700;
    transition: all 200ms ease-in-out;
}

.container .content-left .articles article h3 a:hover {
    color: var(--main-color);
}

.container .content-left .articles article p {
    padding: 0.5rem 1rem;
    text-align: justify;
    font-weight: lighter;
    line-height: 1.5rem;
}

.container .content-left .articles article p:last-of-type {
    padding-bottom: 4rem;
}

.container .content-left .articles h5.date {
    position: absolute;
    bottom: 1.5rem;
    left: 1.5rem;
    color: var(--link-color);
    opacity: 0.5;
    font-weight: 600;
}

.container .content-left .articles a.read-more {
    position: absolute;
    bottom: 1.5rem;
    right: 1.5rem;
    color: var(--main-color);
    padding-left: 0.5rem;
    font-weight: 600;
    transition: all 200ms ease-in-out;
}

.container .content-left .articles a.read-more:hover {
    color: var(--link-color);
}

.container .content-left .pagination {
    margin-top: 1.3rem;
    width: 100%;
    position: relative;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
}

.container .content-left .pagination button {
    width: fit-content;
    background-color: var(--main-color);
    cursor: pointer;
    color: #fff;
    justify-content: center;
    font-size: 15px;
    line-height: 15px;
    font-weight: 600;
    letter-spacing: 0.08rem;
    padding: 0.5rem;
    border: 0.5px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.container .content-left .pagination button.btn-left {
    grid-column: 1;
    display: flex;
    justify-self: left;
}

.container .content-left .pagination button.btn-right {
    grid-column: 2;
    display: flex;
    justify-self: right;
}

.container .content-left .pagination button i {
    padding: 0 0.3rem;
}

.container .content-right {
    grid-column: 2;
    position: relative;
}

.container .content-right .instagram_right,
.container .content-right .twitter_right,
.container .content-right .facebook_right {
    margin-top: 1rem;
    border-radius: 0.4rem;
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 0.5px solid rgba(0, 0, 0, 0.1);
}

.container .content-right .instagram_right {
    background: #d6249f;
}
.container .content-right .twitter_right {
    background-color: #20c7ff;
}
.container .content-right .facebook_right {
    background-color: #3b5998;
}
.container .content-right .instagram_right a,
.container .content-right .twitter_right a,
.container .content-right .facebook_right a {
    width: 100%;
    padding: 1.5rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
}

.container .content-right .instagram_right i,
.container .content-right .twitter_right i,
.container .content-right .facebook_right i {
    border: 0.5px solid rgba(0, 0, 0, 0.1);
    width: 3rem;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.1);
    color: #fff;
    font-size: 2rem;
    font-weight: 200;
}

.container .content-right .inscription {
    color: var(--link-color);
    position: relative;
    width: 90%;
    margin-top: 1rem;
    padding: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    border-radius: 0.5rem;
    border: 0.5px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.container .content-right .inscription:hover {
    opacity: 0.8;
}

.container .content-right .inscription hr {
    margin: 0.4rem 0;
    border: 1px solid var(--main-color);
    opacity: 0.5;
    font-weight: 300;
}

.container .content-right .inscription p {
    text-align: justify;
    padding: 0.2rem 0;
}

.container .content-right .inscription p:last-of-type {
    margin-bottom: 1rem;
}

.container .content-right .inscription span {
    opacity: 0.7;
    position: absolute;
    bottom: 0.5rem;
    right: 1rem;
}

.container .content-right .results-title {
    width: 89%;
    margin-top: 1rem;
    padding: 1.2rem;
    display: flex;
    justify-content: center;
    background-color: #fff;
    border-radius: 0.5rem;
    border: 0.5px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.container .content-right .results-content {
    width: 99%;
    margin-top: 0.5rem;
    display: flex;
    justify-content: center;
    background-color: #fff;
    border-radius: 0.5rem;
    border: 0.5px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
.container .content-right .results-content ul {
    margin-top: 0;
    list-style: none;
    transform: translateX(-0.5rem);
    width: 94%;
    border-radius: 0.5rem;
}

.container .content-right .results-content ul hr {
    margin-left: 1rem;
    border: 0.5px solid var(--main-color);
    opacity: 0.4;
}

.container .content-right .results-content ul li {
    position: relative;
    margin-right: 1rem;
    line-height: 1rem;
    height: 3.5rem;
    width: 100%;
    display: grid;
    grid-template-columns: 40% 20% 40%;
    grid-gap: 2%;
}

.container .content-right .results-content ul li p {
    color: rgba(0, 0, 0, 0.7);
    font-size: 14px;
    font-weight: 300;
}

.container .content-right .results-content ul li h3 {
    width: 100%;
    font-size: 20px;
    font-weight: 700;
    margin-top: 1rem;
    padding: 0.5rem;
    position: absolute;
    justify-content: center;
    display: flex;
    color: rgba(0, 0, 0, 1);
}

.container .content-right .results-content ul li .game-result {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.social-networks {
    margin: 0 3rem;
    margin-top: 4rem;
    display: grid;
    grid-template-columns: 32% 32% 32%;
    grid-gap: 2%;
}

.social-networks .instagram,
.social-networks .twitter,
.social-networks .facebook {
    width: 100%;
    border-radius: 0.5rem;
    height: fit-content;
    background-color: #fff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.social-networks .rrss-title {
    padding: 1rem;
    font-weight: 900;
    font-size: 28px;
    letter-spacing: 0.5rem;
}

.social-networks .rrss-title.twitter-title {
    color: #20c7ff;
}

.social-networks .rrss-title.facebook-title {
    color: #3b5998;
}

.social-networks .rrss-title.instagram-title {
    background: linear-gradient(90deg, #d6249f 40%, #285aeb);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.social-networks .rrss-title.instagram-title i {
    background: radial-gradient(
        circle at 30% 107%,
        #fdf497 0%,
        #fdf497 5%,
        #fd5949 45%,
        #d6249f 60%,
        #285aeb 85%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.social-networks .instagram #instagram .header-instagram {
    display: flex;
    align-items: center;
    line-height: 7rem;
    padding: 0.5rem;
    font-size: 20px;
    font-weight: 400;
    color: var(--main-color);
}

.social-networks .instagram #instagram .header-instagram img {
    height: 7rem;
}

.social-networks .facebook {
    overflow: hidden;
}

.social-networks .facebook #facebook {
    display: block;
    justify-content: center;
}

input[type="radio"] {
    display: none;
}

.container-category {
    margin: 0 1.5rem;
    margin-top: 22rem;
    justify-self: center;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 20px;
}

.container-category label {
    text-align: center;
    padding: 0.5rem 0;
    font-size: 16px;
    font-weight: 500;
    background: #fff;
    color: var(--link-color);
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: all 300ms ease-in;
}

.container-category label:hover {
    background: var(--main-color);
    color: #fff;
}

[value="TODOS"]:checked .post [data-category~="TODOS"] {
    display: block;
}

[value="SENIOR"]:checked ~ .container-post .post:not([data-category~="SENIOR"]),
[value="JUNIOR"]:checked ~ .container-post .post:not([data-category~="JUNIOR"]),
[value="CADETE"]:checked ~ .container-post .post:not([data-category~="CADETE"]),
[value="INFANTIL"]:checked
    ~ .container-post
    .post:not([data-category~="INFANTIL"]),
[value="ESCOLARES"]:checked
    ~ .container-post
    .post:not([data-category~="ESCOLARES"]) {
    display: none;
}

[value="TODOS"]:checked ~ .container-category [for="TODOS"],
[value="SENIOR"]:checked ~ .container-category [for="SENIOR"],
[value="JUNIOR"]:checked ~ .container-category [for="JUNIOR"],
[value="CADETE"]:checked ~ .container-category [for="CADETE"],
[value="INFANTIL"]:checked ~ .container-category [for="INFANTIL"],
[value="ESCOLARES"]:checked ~ .container-category [for="ESCOLARES"] {
    background: var(--main-color);
    color: #fff;
}

.container-post {
    margin: 2rem 3rem;
    height: max-content;
    display: grid;
    grid-template-columns: 32% 32% 32%;
    grid-gap: 2rem;
}

.container-post .post {
    height: max-content;
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    overflow: hidden;
    padding-bottom: 20px;
    background: #fff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.container-post .post .ctn-img {
    width: 100%;
}

.container-post .post .ctn-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container-post .post h2 {
    font-size: 18px;
    margin-top: 20px;
    padding: 0 1rem;
    color: var(--link-color);
}

.container-post .post span {
    display: block;
    margin-top: 10px;
    padding: 0 20px;
    color: var(--link-color);
}

.container-post .post .ctn-tag {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-left: 8px;
}

.container-post .post .ctn-tag li {
    list-style: none;
    font-size: 14px;
    margin: 4px 0;
    padding: 6px 10px;
    border-radius: 4px;
    color: var(--tertiary-color);
    background: var(--menu-icon-color);
    cursor: default;
}

.container-post .post a {
    width: 95%;
    align-self: center;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-post .post a button {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    background: var(--main-color);
    border: none;
    color: #ffffff;
    cursor: pointer;
    border-radius: 6px;
}

.container-post .post button:hover {
    opacity: 0.8;
}

.container-post .post button:focus {
    outline: none;
    border: none;
}

/*--------FOOTER---------*/

footer {
    position: relative;
    margin-top: 7rem;
    padding-bottom: 3rem;
    height: max-content;
    background-color: var(--link-color);
}

footer .divider {
    width: 100%;
    height: 6rem;
    position: absolute;
    margin-top: -6rem;
    left: 0;
}

footer .divider.toleft {
    background: linear-gradient(
        to left bottom,
        transparent 49%,
        var(--main-color) 50%
    );
}

footer .divider.toright {
    background: linear-gradient(
        to right bottom,
        transparent 49%,
        var(--link-color) 50%
    );
}

footer .page {
    padding-top: 2rem;
    overflow: hidden;
}

footer .page .footer-content {
    margin: 0 3rem;
    display: grid;
    grid-template-columns: 32% 32% 32%;
    grid-gap: 2%;
}

footer .page .footer-content h2 {
    color: var(--main-color);
    display: table;
    position: relative;
    margin-bottom: 1.5rem;
    left: 50%;
    transform: translateX(-50%);
}
footer .page .footer-content h2::after {
    content: "";
    position: absolute;
    border-radius: 0.1rem;
    bottom: -0.5rem;
    left: 0;
    width: 100%;
    height: 0.4rem;
    background-color: var(--main-color);
}

footer .page .footer-content .footer-contact ul,
footer .page .footer-content .footer-links ul {
    margin-top: 2rem;
    list-style: none;
    line-height: normal;
    text-align: center;
    font-weight: 600;
}

footer .page .footer-content .footer-contact ul li,
footer .page .footer-content .footer-links ul li {
    margin-bottom: 2rem;
}

footer .page .footer-content .footer-contact ul li i {
    padding-right: 0.2rem;
}

footer .page .footer-content .footer-links ul li a.active,
footer .page .footer-content a:hover {
    color: var(--main-color);
}

footer .page .footer-map {
    padding-bottom: 0.5rem;
}

footer .author {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 1rem;
    color: #fff;
    opacity: 0.3;
    transition: opacity 250ms ease-in-out;
}

footer .author:hover {
    opacity: 0.7;
}

footer .author span {
    cursor: default;
}

footer .author a {
    color: var(--main-color);
}

footer .copyrigth {
    margin: 0 2rem;
    display: flex;
    margin-top: 5rem;
    text-align: center;
    justify-content: center;
    align-self: center;
}

footer .copyrigth h4 {
    display: table;
    color: #fff;
}

footer .copyrigth h4 a {
    color: var(--main-color);
}

@media screen and (max-width: 800px) {
    ::-webkit-scrollbar-track {
        -webkit-box-shadow: none;
        background-color: transparent;
    }

    .top {
        display: none;
    }

    .logo {
        width: 100%;
        height: 5rem;
        position: fixed;
        z-index: 999;
        margin-left: 0;
        background-color: var(--main-color);
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    }

    .logo img {
        height: 5rem;
        width: 5rem;
        image-rendering: crisp-edges;
    }

    .logo h3 {
        font-size: 25px;
        color: white;
    }

    header {
        display: flex;
    }
    header nav {
        position: fixed;
    }
    header div#burger_menu {
        display: block;
        background-color: var(--main-color);
        z-index: 999;
        position: fixed;
    }

    header nav {
        background-color: transparent;
        pointer-events: none;
        box-shadow: none;
        height: 98vh;
        height: calc(var(--vh, 1vh) * 100);
        max-height: 100vh;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
    }

    header nav.blur {
        background-color: rgba(0, 0, 0, 0.4);
        pointer-events: all;
    }

    ul.links {
        background-color: var(--main-color);
        border-radius: 0.5rem;
        font-size: 20px;
        margin: 0 1rem;
        display: block;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        transform: translateY(-150%);
        transition: transform 300ms ease-in-out;
    }

    ul.open {
        transform: translateY(6rem);
    }

    ul.links li {
        height: 5rem;
        overflow: hidden;
    }

    ul.links li:not(:last-child) {
        margin-right: 0rem;
    }

    ul.links li:hover::after {
        opacity: 0;
    }

    ul.links li.active::after {
        opacity: 0;
    }

    ul.links li.dropdown.open {
        height: fit-content;
        min-height: 5rem;
    }

    ul.links li.dropdown ul.dropdown-menu {
        left: 50%;
        transform: translateX(-50%);
        height: fit-content;
        width: 92%;
        background-color: transparent;
        visibility: hidden;
        opacity: 0;
        position: relative;
        transition: all 150ms ease-in-out;
    }

    ul.links li.dropdown.open ul.dropdown-menu {
        background-color: var(--link-color);
        visibility: visible;
        opacity: 1;
    }

    ul.links li.dropdown ul.dropdown-menu li {
        justify-content: center;
        text-align: center;
        font-size: 18px;
        visibility: hidden;
        opacity: 0;
        transition: all 150ms ease-in-out;
    }

    ul.links li.dropdown ul.dropdown-menu li::after {
        display: none;
    }

    ul.links li.dropdown ul.dropdown-menu li a:hover {
        color: #fff;
    }

    ul.links li.dropdown.open ul.dropdown-menu li {
        visibility: visible;
        opacity: 1;
    }

    .container {
        margin: 0 1rem;
        margin-top: 5rem;
        grid-template-columns: 100% 0%;
        grid-gap: 0;
    }

    .container .content-left .articles {
        grid-column: 1;
        grid-template-columns: repeat(1, 1fr);
    }

    .container .content-left .pagination {
        height: max-content;
        grid-template-columns: repeat(1, 1fr);
    }

    .container .content-left .pagination button.btn-right,
    .container .content-left .pagination button.btn-left {
        padding-top: 1rem;
        padding-bottom: 1rem;
        width: 100%;
        grid-column: 1;
    }

    .container .content-right {
        grid-column: 1;
    }

    .container .content-right .results-title {
        max-width: 100%;
    }

    .social-networks {
        margin: 2rem 1rem;
        grid-template-columns: 100%;
        grid-gap: 2%;
    }

    .container-category {
        margin-top: 7rem;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1rem;
    }

    .container-post {
        margin: 2rem 1.5rem;
        grid-template-columns: 100%;
    }

    footer {
        margin-top: 10rem;
    }

    footer .divider {
        height: 3rem;
        margin-top: -3rem;
    }

    footer .page .footer-content {
        grid-template-columns: 100%;
        grid-gap: 2%;
    }

    footer .copyrigth {
        margin-bottom: 2rem;
    }
}
